---
layout: default
title: audio
permalink: /music/audio/
---
    <h1 class="pg-title avpg">Audio</h1>

    <div class="avblock col1" id="original-compositions">
        <h2>original compositions</h2>
        {% include playlist.html playlist_data=site.data.audio-originalcomps %}
    </div>

    <div class="avblock col2" id="piano-recordings">
        <h2>piano recordings</h2>
        {% include playlist.html playlist_data=site.data.audio-pianorecs %}
    </div>
{% include back-to-top.html %}

<script src="{{ "/assets/js/AVInfoToggle.js" | prepend: site.baseurl }}"></script>
