---
layout: default
title: audio
permalink: /music/audio/
---

{% for category in site.data.audio %}

    <div class="avblock" id="{{ category[0] }}">
        <h1>{{ category[0] }}</h1>

        <ul class="playlist">
        {% for audio in category[1] %}
            <li>
                <h2>
                    <a class="tracktitle" href="{{ (audio.title | sanitize_filename) | prepend: category[0] }}">{{ audio.title }}</a>
                    <span class="options">
                        <a class="info op">info</a>
                    </span>
                </h2>
                <p class="descrip">
                    {% if audio.description == "" %} 
                        no info
                    {% else %}
                        {{ audio.description }}
                    {% endif %}
                </p>
            </li>
        {% endfor %}
        </ul>

    </div>

{% endfor %}

{% include back-to-top.html %}
