---
layout: music-page
title: audio
permalink: /music/audio/
---
    <h1 class="pg-title avpg">Audio</h1>

    <div class="avblock col1 bandcamp-albums">
        <h2>albums</h2>

        <iframe style="border: 0; width: 100%; height: 300px;" src="https://bandcamp.com/EmbeddedPlayer/album=1276942416/size=large/bgcol=eeeeee/linkcol=683996/artwork=small/transparent=true/" seamless><a href="http://dbaker.bandcamp.com/album/even-moons-are-mortal">even moons are mortal by memoriata</a></iframe>

        <iframe style="border: 0; width: 100%; height: 300px;" src="https://bandcamp.com/EmbeddedPlayer/album=989125215/size=large/bgcol=eeeeee/linkcol=683996/artwork=small/transparent=true/" seamless><a href="http://dbaker.bandcamp.com/album/yesterlieder">yesterlieder by memoriata</a></iframe>

        <iframe style="border: 0; width: 100%; height: 300px;" src="https://bandcamp.com/EmbeddedPlayer/album=1563920629/size=large/bgcol=eeeeee/linkcol=683996/artwork=small/transparent=true/" seamless><a href="http://dbaker.bandcamp.com/album/new-themes">New Themes by memoriata</a></iframe>
        
        <iframe style="border: 0; width: 100%; height: 300px;" src="https://bandcamp.com/EmbeddedPlayer/album=334205616/size=large/bgcol=eeeeee/linkcol=683996/artwork=small/transparent=true/" seamless><a href="http://dbaker.bandcamp.com/album/berceuses">Berceuses by memoriata</a></iframe>
    </div>

    <div class="avblock col2" id="original-compositions">
        <h2>standalone works</h2>
        {% include playlist.html playlist_data=site.data.audio-originalcomps permalink_dir="originalcomps" %}
    </div>

    <div class="clearfix"></div>

    <div class="avblock col1" id="playlists">
        <h2>playlists</h2>
        <ul class="playlist">
            <li><a href="pianorecs/concert2017-10-15/">Piano recital with Stephen Kerr</a></li>
        </ul>
    </div>

    <div class="avblock col2" id="piano-recordings">
        <h2>piano recordings</h2>
        {% include playlist.html playlist_data=site.data.audio-pianorecs permalink_dir="pianorecs" %}
    </div>


{% include back-to-top.html %}

<script src="{{ "/assets/js/AVInfoToggle.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/assets/js/autoplay.js" | prepend: site.baseurl }}"></script>
