---
title: blog
layout: default
permalink: /blog/
---

{% include blog-sidebar.html %}

{% for post in site.posts %}

    <div class="blogpost">
        <header class="post-header">
          <a class="timestamp" href="{{ post.url | prepend: site.baseurl }}">{{ post.date | date: "%Y-%m-%d" }}</a>
          <span class="arrow">&gt;</span>
          <h1 class="post-title">
            <a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
          </h1>
        </header>

        <article class="post-content">
          {{ post.content }}
        </article>
    </div>

{% endfor %}

{% include back-to-top.html %}
