---
title: twitter bots
layout: default
---

<h1 class="pg-title geekpg">Twitter bots</h1>
<div class="textblock">
	<h1 class="geekpg">What is a Twitter bot?</h1>
	<p>A Twitter bot is an automated twitter account operated via a program that makes calls to the Twitter API.</p>
	<p>Although some Twitter bots are used for spam, there is a large community of bot-makers who create Twitter bots with a humorous, artistic, political or even functional intent (an example of the last would be a bot that tells you the weather when you tweet at it).</p>
	<p>I and many others have found making Twitter bots to be a great way to experiment with code and learn new things.</p>
	<p>Some of my favorite bots that I've made are listed below. You can find a full list of my bots <a href="https://twitter.com/dbaker_h/lists/bot-family">here.</a> Not all of these bots are still tweeting, as maintaining them became too difficult.</p>
</div>

    {% for category in site.data.bots %}
    	<div class="{{ category[0] }}">

    		<ul class="botlist">
		    	{% for bot in category[1] %}
			        <li>
			            <a href="{{ bot.url }}">{{ bot.title }}</a>
			            <p class="tooltip">{{ bot.description }}</p>
			            {{ bot.embed }}
			        </li>
		    	{% endfor %}
	    	</ul>

    	</div>
    {% endfor %}

{% include back-to-top.html %}
