---
layout: default
title: "Playlist: piano recital with Stephen Kerr - 15th October 2017"
permalink: /music/audio/pianorecs/concert2017-10-15/
---
<a class="back" href="/music/audio">All audio</a>

<h1 class="pg-title avpg">Piano recital <br/> October 15th 2017</h1>

<div class="avblock col1">
    {% include playlist.html playlist_data=site.data.audio-playlist-concert2017-10-15 permalink_dir=page.url %}
</div>

<div class="col2">
    <p>A selection of works recorded at a concert held by myself and my former piano teacher Stephen Kerr. All are performed by me, with the exception of the Ravel where Stephen joins me at the keyboard. </p>
    <p><strong>About the piano</strong></p>
    <p>The piano played in this concert is over a century old. Built by Berlin piano makers J. L. Duysen in 1914, it is an exquisitely crafted instrument and remains in remarkably good condition.</p>
    <p>Pianos built during the early 20th century had a warmer, mellower tone than the pianos of today. This makes them ideal for romantic and impressionistic repetoire, and provides insight into how composers of the time would have heard their music. I feel very privileged to have performed Ravel and Rachmaninov on a period instrument.</p>
    </div>
{% include back-to-top.html %}

<script src="{{ '/assets/js/AVInfoToggle.js' | prepend: site.baseurl }}"></script>
<script src="{{ '/assets/js/autoplay.js' | prepend: site.baseurl }}"></script>
