---
title: music
layout: default
permalink: /music/
---

<h1 class="pg-title avpg">Music</h1>

<article class="wide textblock col1">
    <p>I have been involved with the classical music scene all my life, participating in many community music ensembles including the Early Music Society of Victoria and the Victorian Recorder Guild as a child.</p>
    <p>At the age of 6 I joined the Kew Philharmonic Chamber Choir as a soprano and continued to work with them - later as an alto and then as accompanist and occasional rehearsal director - for 13 years.</p>
    <p>In 2006 I joined the choir of Holy Trinity Anglican Church, Kew, in which I participated as a singer and later as an accompanist, until 2014.</p>
    <p>I have also been involved in many small vocal and instrumental ensembles and have sung in the Victoria Chorale and the Melbourne Bach Choir.</p>
    <p>Since mid-2015 I have held a position as music director at St Paul's Anglican Church East Kew, where I direct a choir and play organ and piano for services.</p>
</article>

<div class="sidebar" id="music-sidebar">
    <h2 class="avpg">more</h2>
    <nav>
        {% include music-submenu.html %}
    </nav>
</div>

<div class="clearfix"></div>

<article class="textblock col1">
    <h2 class="avpg">piano</h1>
    <p>As a child I taught myself to play the piano before commencing piano lessons with Stephen Kerr at the age of 11.</p>
    <p>Although I abandoned my ambition to become a concert pianist after realising the high-stress lifestyle of a international performer was not for me, my love of the concert repertoire persists to this day, and I relish the opportunity to learn new concertoes and other major piano works by my favorite composers - Bach, Ravel, Rachmaninov, Prokofiev and others.</p>
    <p>Accompanied by Stephen Kerr on a second piano, I have performed movements of concertoes in concerts and local piano competitions, as well as piano 4 hands duets by composers including Schubert, Bach and Ravel.</p>
    <p>I am fascinated by piano technique and have a particular interest in pedalling and the distinctive technique of pianists of the first half of the 20th century.</p>
</article>

<div class="image-col col2">
    <img src="../assets/images/baby.png" alt="Dorothea at the restored 1838 Tomlinson square piano on her 2nd birthday"/>
    <p class="caption">Me at the restored 1838 Tomlinson square piano on my 2nd birthday</p>
</div>

<article class="textblock col1">
    <h2 class="avpg">composition</h1>

    <p>Although I have been composing in one form or another for most of my life, writing my earliest pieces as young as 5, I first began to take composition seriously in early 2011.</p>
    <p>I have an interest in erasing the boundaries between "classical" and "non-classical" music, and enjoy composing genre-defying works that draw on influences as eclectic as medieval and traditional folk music, minimalist composers of the 20th century such as Philip Glass and Steve Reich, progressive rock and metal.</p>

    <p>After experimenting with traditional (and sometimes not-so-traditional) classical instrumentation for a few years, I discovered that electronic music was a far more suitable medium for exploring the musical ideas that intrigue me, namely the use of patterns and layering to create complex melodic and rhythmic soundscapes.</p>
    <p>However, I continue to write solo piano music and choral music, including liturgical music for use in services at the church where I am employed as music director.</p>
</article>

<div class="image-col col2">
    <img src="../assets/images/duet.png" alt="Dorothea at the restored 1838 Tomlinson square piano on her 2nd birthday"/>
    <p class="caption">Stephen &amp; I rehearsing Diabelli's Piano
Sonata in D Major for 4 hands, Op. 33</p>
</div>

{% include back-to-top.html %}
