---
title: music
layout: music-page
permalink: /music/
---

<h1 class="pg-title avpg">Music</h1>

<div class="content-wrapper">

    <div class="wide textblock col1">
        <h2 class="avpg">composition</h2>

        <p>I've been composing in one form or another for most of my life, writing my earliest pieces as young as 5. However I first began to take composition seriously in early 2011, when I developed an interest in erasing the boundaries between "classical" and "non-classical" music.</p>
        <p>During this period I strove to compose genre-defying works that used classical-contemporary instrumentation while drawing on influences as wide-ranging as medieval and traditional folk music, 20th century classical-contemporary minimalism, progressive rock and metal.</p>

        <p>In 2013, a trial version of Ableton Live sparked my interest in the electronic genre. Since then, almost my entire compositional output has been in the form of electronic music that uses many layers of loops to create intricate melodic and rhythmic soundscapes.</p>
        <p>My electronic music falls outside any existing genres but can best be described as a blend of classical-contemporary minimalism with Celtic traditional and ambient genres.</p>

        <p>I continue to occasionally write solo piano music and choral music. I particularly enjoy writing arrangements of traditional folk songs, and have written both electronic and classically-intrumented arrangements.</p>
        <p>My time as a church musician and music director has led me to write a lot of liturgical music for use in church services.</p>
    </div>

    <div class="clearfix"></div>

    <div class="image-col col2">
        <img src="../assets/images/baby.jpeg" alt="Dorothea at the restored 1838 Tomlinson square piano on her 2nd birthday"/>
        <p class="caption">Me at the restored 1838 Tomlinson square piano on my 2nd birthday</p>
    </div>

    <article class="textblock col1">
        <h2 class="avpg">piano</h2>
        <p>As a child I taught myself to play the piano before commencing piano lessons with Stephen Kerr at the age of 11.</p>
        <p>Although I abandoned my ambition to become a concert pianist after realising the high-stress lifestyle of a international performer was not for me, my love of the concert repertoire persists to this day, and I relish the opportunity to learn new concertoes and other major piano works by my favorite composers - Bach, Ravel, Rachmaninov, Prokofiev and others.</p>
        <p>Accompanied by Stephen Kerr on a second piano, I have performed movements of concertoes in concerts and local piano competitions, as well as piano 4 hands duets by composers including Schubert, Bach and Ravel.</p>
        <p>I am fascinated by piano technique and have a particular interest in pedalling and the distinctive technique of pianists of the first half of the 20th century.</p>
    </article>
<!-- 
    <div class="image-col col2">
        <img src="../assets/images/duet.jpeg" alt="Dorothea at the restored 1838 Tomlinson square piano on her 2nd birthday"/>
        <p class="caption">Stephen &amp; I rehearsing Diabelli's Piano
    Sonata in D Major for 4 hands, Op. 33</p>
    </div> -->

    <article class="textblock col1">
        <h2 class="avpg">past experience</h2>

        <p>I have been involved with the classical music scene all my life, participating in many community music ensembles including the Early Music Society of Victoria and the Victorian Recorder Guild as a child.</p>
        <p>At the age of 6 I joined the Kew Philharmonic Chamber Choir as a soprano and continued to work with them - later as an alto and then as accompanist and occasional rehearsal director - for 13 years.</p>
        <p>In 2006 I joined the choir of Holy Trinity Anglican Church, Kew, in which I participated as a singer and later as an accompanist, until 2014.</p>
        <p>I have also been involved in many small vocal and instrumental ensembles and have sung in the Victoria Chorale and the Melbourne Bach Choir.</p>
        <p>From 2015-2017 I held a position as music director at St Paul's Anglican Church East Kew, directing a choir and playing organ and piano for services. During this period I wrote a lot of the liturgical and seasonal music you find on my <a href="/music/scores/">Scores</a> page.</p>
    </article>

    <div class="clearfix"></div>


    <aside class="sidebar" id="music-sidebar">
        <h2 class="avpg">related links</h2>
        <nav>
            <ul>
            {% include music-submenu.html %}
            </ul>
        </nav>
    </aside>

</div>

{% include back-to-top.html %}
