---
title: tech
layout: tech-page
permalink: /tech/projects/
---

<h1 class="pg-title geekpg">Tech projects</h1>

<div class="content-wrapper">

    <div class="wide textblock col1">
        <p>This page is an archive of my tech projects. I no longer have time to do much recreational programming, so most of the projects on this page are from my university days. However, this list will continue to be updated with any recent projects I've worked on.
        </p>
        <p>
            I love using tools in ways they were never intended for artistic effect, and many of my projects are the result of this kind of experimentation.
        </p>
    </div>

    <div class="clearfix"></div>

    <div class="geeklist">

        <article class="textblock col1">
            <h2 class="geekpg"><a href="http://nightmare.website" target="_blank">nightmare.website</a></h2>

            <p>nightmare.website began as a place to document the things I learnt during my computer science course. It was initially intended to be a collection of web design resources and inspiration, but ultimately expanded to include all computer-related topics.</p>
            <p>nightmare.website is both a reference for myself, and a way for me to document solutions to problems that I haven't been able to easily find answers for on Google, and make those solutions available to others.</p>
            <p>It hasn't been updated for a long time!</p>
        </article>

        <article class="textblock col2">
            <h2 class="geekpg"><a href="http://dreadedvariable.xyz/portfolio/visualiser/" target="_blank">Audio visualiser</a></h2>

            <p>I was inspired to do something creative with audio streaming in Javascript after reading a tutorial on using it to create waveform visualisations. This - the product of many hours of trial and error - was the result. It comes with a selection of tracks by myself and my friends.</p>
            <p>The visualiser uses PHP for track selection to enable bookmarking/linking of the selected track, and Javascript to stream MP3s, analyse the audio data and use the results in CSS values and other things.</p>
            <aside class="note">Known bug: visualisation does not work in iOS Safari due to lack of browser support for the visualisation technology.</aside>
            <aside class="note">Warning: contains flashing imagery.</aside>
        </article>


        <div class="clearfix"></div>

        <article class="textblock col1">
            <h2 class="geekpg"><a href="http://dreadedvariable.xyz/dropbox/baroque_encodings_v1.pdf" target="_blank">NaNoGenMo 2014</a></h2>

            <p>I created this computer-generated novel for National Novel Generation Month, a project started by <a href="https://twitter.com/tinysubversions">Darius Kazemi</a>. It's written in Python and uses a corpus of hand-picked lines from novels (including some very famous ones), tied together with bigrams.</p>
            <p><a href="/blog/nanogenmo">Read a blog post I wrote</a> about the process of creating the novel.
            <aside class="note">Note: <a href="http://dreadedvariable.xyz/dropbox/baroque_encodings_v2.pdf">a second, longer version is available</a>. You can also <a href="https://github.com/d-baker/NaNoGenMo-2014">create your own version</a> by downloading and running the code.</aside>
        </article>

<!--         <article class="textblock col2">
            <h2 class="geekpg"><a href="http://dreadedvariable.xyz/portfolio/botlang/">Botlang</a></h2>

            <p>Botlang was an attempt at creating a community-driven <a href="https://en.wikipedia.org/wiki/Constructed_language">conlang</a> via a Twitter bot.</p>
            <p>Written in Python, the bot analysed tweets sent to it and generated a "Bottish" translation for each word it found, then added the definition to a dictionary so it could look the word up in the future. This enabled the <a href="http://dreadedvariable.xyz/portfolio/botlang/translator.html">translator</a> feature on the Botlang website.</p>
            <p>During lapses in conversation with other Twitter uses, the bot randomly pulled English words from a corpus and created Bottish translations for those in order to build up its vocabulary.</p>
            <p>Unfortunately, I allowed Botlang and its website to fall into a state of disrepair. The Twitter bot is no longer running, but when I have time I'd like to start it up again and refactor the code using the knowledge I've gained since its creation.</p>
            <aside class="note">Known bugs: too many! I'll fix it one day.</aside>
        </article>
 -->

        <article class="textblock col2">
            <h2 class="geekpg"><a href="https://github.com/d-baker/clevo-keyboard-backlight-control" target="_blank">Clevo keyboard backlight CLI</a></h2>

            <p>This is one of those things that arose out of very specific circumstances and needs I had at the time. I had just purchased a fancy new laptop with an RGB backlit keyboard, which I couldn't wait to customise. After installing Linux, however, I had some difficulty with the drivers and got frustrated.</p>
            <p>The end result was this little command-line utility which let me generate and apply my own colorschemes to the keyboard. It had a number of caveats, the main one being that any time I updated my OS, I had to recompile the utility's dependencies, because there was no DKMS module.</p>
            <p>I had been intending to fix this issue, but the last time I looked, the driver my utility depends on is no longer maintained and isn't compatible with the current Linux kernel. I'm holding out for the day the Clevo kernel module gets built into Ubuntu, because I currently can't even turn my backlight OFF, let alone change the color.</p> 
        </article>

    <div class="clearfix"></div>

        <article class="textblock col1">
            <h2 class="geekpg"><a href="http://dreadedvariable.xyz/portfolio/react-clock/" target="_blank">React Clock</a></h2>

            <p>I created this very minimal clock in order to teach myself the basics of React.js. At the time my analog wall clock had just broken, so I made this as a replacement, to be displayed throughout the day on a large, under-utilised desktop computer. I never got round to replacing my wall clock in the end!</p>
            <aside class="note">I'm well aware that I had a very specific use case for this app which probably nobody else will share. But here it is anyway!</aside>
        </article>

        <article class="textblock col2">
            <h2 class="geekpg"><a href="https://memoriata.itch.io/glade" target="_blank">Glade</a></h2>

            <p>The only game I've ever created, made for the Fermi Paradox game jam on itch.io in 2016. I made it after learning Unity from scratch in a week, so it's, well, quite bad. I always meant to go and fix all the bugs and design problems, but never had the time.</p>
            <p>In this game, you pilot a small spaceship - which moves far too slowly - around the surreal, alien landscape of a foreign planet, and try to work out why it's so lifeless. If you play this game and actually get to the ending I'd love to know, because there are no clues to help you work out what to do (not by design; I didn't have time to add any).</p>
        </article>

    <div class="clearfix"></div>

        <article class="textblock col1">
            <h2 class="geekpg"><a href="http://dreadedvariable.xyz/portfolio/artgen/" target="_blank">Art generator</a></h2>

            <p>I made this simple generative "artwork" on a whim in 2015. Refresh the page to get a new design, scroll to navigate the artwork, and/or try resizing the browser window to mix things up a bit!</p>
            <aside class="note">Note: uses unicode characters.</aside>
        </article>

        <article class="textblock col2">
            <h2 class="geekpg"><a href="http://www.tilde.club/~dbaker/snow.html" target="_blank">Snow</a></h2>

            <p>Though hardly a great work of art, and extremely simple in construction, people seem to like this little thing I made in plain HTML with marquee tags. I hope you do too.</p>

            <aside class="note">This page was one of a number of things that came out of my time on <a href="http://tilde.club/">tilde.club</a>, a wonderful effort to recreate what could best be described as an old-school non-social-network.</aside>
        </article>

    <div class="clearfix"></div>

        <article class="textblock col1">
            <h2 class="geekpg"><a href="/tech/bots" target="_blank">Twitter bots</a></h2>

            <p>A collection of automated Twitter accounts I made when I was learning to program. They do useful, or completely useless but artistically interesting, things. Most have fallen into disrepair, and I do not maintain them.</p>
        </article>
    </div>

    <aside class="sidebar" id="geekery-sidebar">
        <h2 class="geekpg">related links</h2>
        <nav>
            <ul>
            {% include tech-submenu.html %}
            </ul>
        </nav>
    </aside>

</div>

{% include back-to-top.html %}
