---
title: tech
layout: tech-page
permalink: /tech/
---

<h1 class="pg-title geekpg">Tech</h1>

<div class="content-wrapper">

    <div class="wide textblock col1">
        <h2 class="geekpg">web development</h2>
        <p>Web development is my first love. I did my minor in web design, most of my <a target="_blank" href="/tech/projects/">projects</a> are web apps of varying complexity, and in the past I've done freelance web development, creating websites for friends and acquaintances.</p>
        <p>I currently maintain a number of personal websites that I design, build and host myself, and am constantly resisting the temptation to add more (domain expenses are no joke).</p>
        <p>I work professionally as a web developer, mostly using PHP, Javascript and MySQL on Ubuntu. I'm very fortunate to have found my dream job where I get to combine my love of backend coding, UX design, and Unix administration - and my office has a spectacular view!</p>
    </div>
    <div class="clearfix"></div>


    <article class="textblock col1">
        <h2 class="geekpg">ux design</h2>
        <p>TODO</p>
    </article>

    <article class="textblock col2">
        <h2 class="geekpg">unix system administration</h2>
        <p>I got into system administration when I started studying computer science, and everyone in my course was talking about Linux all the time. Linux is what the cool kids use, they said. Try Linux.</p>
        <p>I took this recommendation to heart. Maybe a little too much. I started running virtual machines on my Macs, and booted up every Linux distro I could find. This included ArchLinux, which requires you to manually install the system (creating the file system etc); and Linux From Scratch, which is not actually a distribution, because you literally compile the entirety of Linux from scratch and therefore get to choose exactly what you install.</p>
        <p>If you give me a system that's highly configurable, and which you can tinker with the inner workings of, I won't be able to think or talk about anything else for days. So you can probably imagine how this played out. At the time I was a diehard Apple user; I now run Linux on all my machines, and also maintain a couple of Ubuntu servers.</p>
        <p>You're kind of forced to learn a bit of system administration if you run Linux, because of the interesting ways it tends to break, especially when run on hardware intended for other operating systems. The fact that this is a selling point for me probably says...something about who I am.</p>
        <p>What I know about system administration barely scratches the surface of what there is to know, but I take every opportunity to learn more, including when things break.</p>
    </article>

    <div class="clearfix"></div>

    <article class="textblock col1">
        <h2 class="geekpg">natural language processing</h2>
        <p>One of the first programming things I did for fun, outside of uni, was writing Twitter bots in Python. Writing bots taught me authentication, APIs and many other skills that continue to serve me well today.</p>
        <p>In the Twitter bot community, there's a big overlap between people interested in linguistics and people interested in programming. I've always been interested in languages myself; as a complete nerd child, I learnt some Latin and Greek (because I wanted to translate the scientific names of animals!) and as an adult I've learnt the basics of about 7 different languages, even though I can't speak any of them fluently.</p>
        <p>So it was only natural that I would make some Twitter bots that use natural language processing. Because Twitter is a primarily text-based platform, it's actually hard to make a bot that doesn't need at least basic language-parsing abilities (although I have also created many "art bots" which use emojis or special characters to generate scenery).</p>
        <p>Through the Twitter bot community, I became aware of the NaNoGenMo project. If you've heard of NaNoWriMo, it's like that but instead of a human writing a novel in a month, a human teaches a computer to write a novel in a month! This was an opportunity to combine my interests that I just couldn't resist, and the result is <a href="https://github.com/d-baker/NaNoGenMo-2014" target="_blank">this bizarre piece of art</a>.</p>
        <p>Due to my interest in languages, I actually took a linguistics course as an elective in uni. I wrote a whitepaper on feline linguistics for my final assignment; my research involved collecting data about the vocalisations of my two cats, then using a Python script to analyse the spreadsheet and present me with findings. It's one of my proudest weirdo achievements.</p>
    </article>

    <article class="textblock col2">
        <h2 class="geekpg">about my tech background</h2>
        <p>Unlike many programmers, my interest in computers didn't start with video games. I never really played games much; they didn't hold my interest. What did were things like kernel panics and the massive user interface change from Classic to OS X on the Apple computers my family used exclusively.</p>
        <p>From an early age I loved trying to trouble-shoot computers when they went wrong. I had never heard of programming and didn't even know what code was, yet I had the feeling deep down that operating a computer successfully required a kind of occult knowledge, a secret language that few were fluent in. Computers were magic and I wanted to be a magician.</p>
        <p>Because of my limited knowledge and exposure to technical culture, rather than learning programming as a kid - which I surely would have done if I'd known about it - I became a sort of Mac power user instead. As much of a power user as a 7 year old who doesn't know how to Google things can become, anyway.</p>
        <p>The first time I ever wrote code was when a friend and I were using one of those mid-2000s WYSYWIG website builders to make an incredibly gaudy, ugly page. One of the built-in widgets had a line of text in it we wanted to get rid of, so we opened up the HTML editor and deleted an &lt;a&gt; tag. It worked, and I felt like a wizard. But nobody ever suggested I learn to code, and it never occurred to me.</p>
        <p>During my teens I was very interested in visual art, and learnt to use the software Poser to create 3D computer graphics (although I didn't realise it at the time, Poser is a very technical, indeed mathematical, piece of software, which is part of why I loved it).</p>
        <p>As time went on I got interested in making my own textures and materials for Poser models, which sometimes involved hacking bits of code. I never wrote the code myself, I just took existing code and changed things in it. I still didn't know what programming was, but I was familiar with doing this kind of hacking from all the times I'd manipulated Mac system files out of curiosity. Back in the good old days of early OS X, it was a lot easier to do that sort of thing than it is now.</p>
        <p>I've been a musician for almost my entire life, so naturally everyone - including myself - assumed I'd study music when I went to university. I had to do a few non-music electives before I could embark on my music degree, and one of the electives I chose was a beginner's web design course. I thought maybe I'd find it interesting, because I remembered the time, many years ago, when I felt like a wizard hacking a HTML embed code.</p>
        <p>After taking that course, I never looked back. I suddenly had the opportunity to learn all the things I'd always wanted to learn, but never knew I could. And by this time, I'd realised that studying something as subjective and personal as music would destroy my enthusiasm for it.</p>
        <p>So I abandoned my music degree and took up computer science instead. I chose to do my minor in Web Design, as I was attracted to both the versatility of web technologies and the artistic and problem-solving possibilities of interface design.</p>
    </article>


    <aside class="sidebar" id="geekery-sidebar">
        <h2 class="geekpg">related links</h2>
        <nav>
            <ul>
            {% include tech-submenu.html %}
            </ul>
        </nav>
    </aside>

</div>

{% include back-to-top.html %}
