---
layout: default
title: video
permalink: /music/video/
---
    <h1 class="pg-title avpg">Video</h1>

    <div class="avblock col1" id="original-compositions">
        <h2>original compositions</h2>

        <ul class="playlist">
        {% for video in site.data.video-originalcomps %}
            <li>
                <button><h3 class="tracktitle">{{ video.title }}</h3></button>

                <div class="descrip">
                    <div class="videoplayer">
                        <video controls>
                            <source src="{{video.src | prepend: "/assets/video/"}}" type="video/mp4">
                        </video>
                    </div>

                    {% if video.description != "" %} 
                        <p>{{ video.description }}</p>
                    {% endif %}
                    <p class="permalink"><a title="{{ " [permalink]" | prepend: video.title }}" href="{{ (video.title | sanitize_filename) | prepend: "originalcomps" }}">More details</a></p>
                </div>

            </li>
        {% endfor %}
        </ul>

    </div>

    <div class="avblock col2" id="piano-recordings">
        <h2>piano recordings</h2>


        <ul class="playlist">
        {% for video in site.data.video-pianorecs %}
            <li>
                <button><h3 class="tracktitle">{{ video.title }}</h3></button>

                <div class="descrip">
                    <div class="videoplayer">
                        <video controls>
                            <source src="{{video.src | prepend: "/assets/video/"}}" type="video/mp4">
                        </video>
                    </div>

                    {% if video.description != "" %} 
                        <p>{{ video.description }}</p>
                    {% endif %}
                    <p class="permalink"><a title="{{ " [permalink]" | prepend: video.title }}" href="{{ (video.title | sanitize_filename) | prepend: "pianorecs" }}">More details</a></p>
                </div>

            </li>
        {% endfor %}
        </ul>

    </div>
{% include back-to-top.html %}
