---
layout: default
title: video
permalink: /music/video/
---

    <div class="avblock" id="original-compositions">
        <h1>original compositions</h1>

        <ul class="playlist">
        {% for video in site.data.video-originalcomps %}
            <li>
                <h2>
                    <a class="tracktitle" href="{{ (video.title | sanitize_filename) | prepend: "originalcomps" }}">{{ video.title }}</a>
                    <span class="options">
                        <a class="info op">info</a>
                    </span>
                </h2>
                <p class="descrip">
                    {% if video.description == "" %} 
                        no info
                    {% else %}
                        {{ video.description }}
                    {% endif %}
                </p>
            </li>
        {% endfor %}
        </ul>

    </div>

    <div class="avblock" id="piano-recordings">
        <h1>piano recordings</h1>

        <ul class="playlist">
        {% for video in site.data.video-pianorecs %}
            <li>
                <h2>
                    <a class="tracktitle" href="{{ (video.title | sanitize_filename) | prepend: "pianorecs" }}">{{ video.title }}</a>
                    <span class="options">
                        <a class="info op">info</a>
                    </span>
                </h2>
                <p class="descrip">
                    {% if video.description == "" %} 
                        no info
                    {% else %}
                        {{ video.description }}
                    {% endif %}
                </p>
            </li>
        {% endfor %}
        </ul>

    </div>
{% include back-to-top.html %}
