<div class="sidebar">
    <h2 class="defaultpg">archive</h2>
    <ul>
        {% for post in site.posts %}
            <li><a href="{{ post.url }}">{{ post.title }}</a></li>
        {% endfor %}
    </ul>

    <ul class="sidebar-extra">
        {% if page.url != "/blog/" %}
            <li><a href="/blog">all posts</a></li>
        {% endif %}
        <li><a href="http://nightmare.website">development blog</a></li>
        <li><a href="http://dorotheabaker.blogspot.com">old blog (no longer updated)</a></li>
    </ul>
</div>
