<div class="sidebar" id="blog-sidebar">
    <h2 class="defaultpg">archive</h2>
    <ul>
        {% for post in site.posts %}
            <li><a href="{{ post.url }}">{{ post.title }}</a></li>
        {% endfor %}
    </ul>

    <ul class="sidebar-extra">
        <li><a target="_blank" class="external" href="http://nightmare.website">development blog</a></li>
        <li><a target="_blank" class="external" href="http://dorotheabaker.blogspot.com">old blog (unmaintained)</a></li>
    </ul>
</div>
