<header>
    <nav>
        <ul>
            <li id="homelink"><a href="http://memoriata.com/">{MEMORIATA}</a></li>

            <li class="dropdown">MUSIC<ul id="music-menu">
                    <li>
                    <a href="https://dbaker.bandcamp.com/">BANDCAMP</a>
                    </li>
                    <li><a href="http://memoriata.com/audio">AUDIO</a></li>
                    <li><a href="http://memoriata.com/video">VIDEO</a></li>
                    <li><a href="http://memoriata.com/mechanisms.html">MECHANISMS</a></li>
                    <li><a href="http://memoriata.com/scores.html">SCORES</a></li>
                </ul></li>

            <li class="dropdown">GEEKERY<ul id="geek-menu">
                    <li><a href="http://memoriata.com/bots.html">TWITTER BOTS</a></li>
                    <li><a href="http://memoriata.com/botlang">BOTLANG</a></li>
                    <li><a href="https://github.com/d-baker/NaNoGenMo-2014"</a>NANOGENMO 2014</li>
                </ul></li>

            <li><a href="http://memoriata.com/blog">BLOG</a></li>

            <li><a href="http://memoriata.com/links.html">LINKS</a></li>

        </ul>
    </nav>

    <p id="breadcrumb">~/</p>

</header>


