<!DOCTYPE html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{% if page.title %}{{ page.title }} | {{site.title}} {% else %}{{ site.title }}{% endif %}</title>
  <meta name="description" content="Website of Dorothea Baker - programmer, musician, occasional artist and full-time nerd">

<!-- FONTS -->
<link href='http://fonts.googleapis.com/css?family=Source+Code+Pro:400,300,200,500,600,900,700' rel='stylesheet' type='text/css'>

<!-- JS -->
<script src="{{ "/assets/js/jquery-3.1.1.min.js" | prepend: site.baseurl }}"></script>
<!-- TODO local jquery UI -->
<script src="//code.jquery.com/ui/1.12.0/jquery-ui.js"></script>
<script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>

<script src="{{ "/assets/js/menutoggle.js" | prepend: site.baseurl }}"></script>

<script src="{{ "/assets/js/tooltip.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/assets/js/AVInfoToggle.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/assets/js/backToTop.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/assets/js/form-validation.js" | prepend: site.baseurl }}"></script>

  <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">

</head>
