<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{% if page.title %}{{ page.title }} | {{site.title}} {% else %}{{ site.title }}{% endif %}</title>

<script src="{{ "/assets/js/jquery-3.1.1.min.js" | prepend: site.baseurl }}"></script>

<!-- FONTS -->
<link href='http://fonts.googleapis.com/css?family=Source+Code+Pro:400,300,200,500,600,900,700' rel='stylesheet' type='text/css'>

{% if include.pageType == "music" %}
	<link rel="stylesheet" href="{{ "/css/music-page-colors.css" | prepend: site.baseurl }}">
{% elsif include.pageType == "tech" %}
	<link rel="stylesheet" href="{{ "/css/tech-page-colors.css" | prepend: site.baseurl }}">
{% elsif include.pageType == "blog" %}
	<link rel="stylesheet" href="{{ "/css/blog-page-colors.css" | prepend: site.baseurl }}">
{% else %}
	<link rel="stylesheet" href="{{ "/css/main-colors.css" | prepend: site.baseurl }}">
{% endif %}
</head>
