<ul>
	<li>
		{% if page.url == "/music/" %}
		    <a class="current landing" href="{{ page.url | prepend: site.baseurl }}">about..</a>
		{% else %}
		    <a class="landing" href="{{ "/music/" | prepend: site.baseurl }}">about...</a>
		{% endif %}
	</li>

	<li>
		{% if page.url == "/music/audio/" %}
		    <a class="current" href="{{ page.url | prepend: site.baseurl }}">audio</a>
		{% else %}
		    <a href="{{ "/music/audio" | prepend: site.baseurl }}">audio</a>
		{% endif %}
	</li>

	<li>
		{% if page.url == "/music/video/" %}
		    <a class="current" href="{{ page.url | prepend: site.baseurl }}">video</a>
		{% else %}
		    <a href="{{ "/music/video" | prepend: site.baseurl }}">video</a>
		{% endif %}
	</li>

	<li>
		{% if page.url == "/music/mechanisms/" %}
		    <a class="current" href="{{ page.url | prepend: site.baseurl }}">mechanisms</a>
		{% else %}
		    <a href="{{ "/music/mechanisms" | prepend: site.baseurl }}">mechanisms</a>
		{% endif %}
	</li>

	<!--
	<li>
		{% if page.url == "/music/scores/" %}
		    <a class="current" href="{{ page.url | prepend: site.baseurl }}">scores</a>
		{% else %}
		    <a href="{{ "/music/scores" | prepend: site.baseurl }}">scores</a>
		{% endif %}
	</li>
	-->

	<li>
		<a target="_blank" class="external" href="http://dreadedvariable.xyz/portfolio/visualiser">audio visualiser</a>
	</li>

	<li>
		<a target="_blank" class="external" href="https://dbaker.bandcamp.com/">bandcamp</a> 
	</li>

</ul>
