<!-- <li>
{% if page.url == "/tech/bots/" %}
    <a class="current" href="{{ page.url | prepend: site.baseurl }}">twitter bots</a>
{% else %}
    <a href="{{ "/tech/bots/" | prepend: site.baseurl }}">twitter bots</a>
{% endif %}
</li>
 -->
<li>
{% if page.url == "/tech/projects/" %}
    <a class="current" href="{{ page.url | prepend: site.baseurl }}">projects</a>
{% else %}
    <a href="{{ "/tech/projects/" | prepend: site.baseurl }}">projects</a>
{% endif %}
</li>
<li>
	<a target="_blank" class="external" href="http://nightmare.website"><span class="content">dev blog</span></a>
</li>

<li>
	<a target="_blank" class="external" href="https://github.com/d-baker"><span class="content">github</span></a> 
</li>
