audio, video {
	width: 600px;
    margin-bottom: 30px;
}

.audioplayer, .videoplayer {
	margin-bottom: 10px;
	margin-top: 10px;
	width: 600px;

	p.download {
		padding-top: 10px;
		text-align: center;
	}
}

.av.post {
	max-width: 600px;

	a {
		color: $highlight;
		text-decoration: underline;
		&:hover {
			color: $batcolor;
		}
	}
}

.options {
    display: inline-block;
    position: absolute;
    right: 0px;
}

.info {
    audio, video {
        width: 50px;
    }

    margin-left: 10px;
    text-align: right;
    width: 100%;
    color: $fg;
    //display: inline-block;

    &:hover {
        cursor: pointer;
        color: $highlight;
    }

    &:visited {
        color: $fg;
    }

    &:before {
        content: "{";
    }
    &:after {
        content: "}";
    }
}

.avblock {
    width: 550px;
	padding-bottom: 20px;
	
	h2 {
		font-size: 16px;
	    padding: 0px;
	    margin: 0px;
	    font-weight: normal;
	}
	li {
		&:before {
			content: "";
		}

        margin-bottom: 10px;
        position: relative;
    }

}

a.tracktitle {
    color: $fg;

    &:hover {
        cursor: pointer;
        color: $highlight!important;
    }   
    
    &:visited {
        color: $batcolor;
    }

	&:before {
		content: "> ";
	}
}

.descrip {
    //color: $batcolor - #111;
    font-style: italic;
    margin: 15px 0px 0px 15px;

    a {
        color: $highlight;
        //color: $batcolor - #111;
        &:hover {
            color: $highlight;
        }
        &:before {
            content: "";
        }
    }

    audio, video {
        width: 540px;
    }

}

div #original-compositions {
    float: left;
}
div #piano-recordings {
    float: right;
}
