.download {
    text-align: center;
    background: #683996;
    font-family: "Source Code Pro";
    text-transform: uppercase;
    font-weight: bold;
    display: table;

    a {
        color: white;
        text-decoration: none;
        vertical-align: middle
    }
}

.avblock {
    h2 {
        color: $highlightPurple;
    }

    h3 {
        font-weight: normal;
    }

    ul {
        list-style-type: none;
    }
}

.avblock, .avpost {
    a {
        color: $highlightBlue;
    }
}

.playlist button {
    background: none;
    border: none;
    color: black;
    text-align: left;
}

.permalink {
    text-align: right;
    a {
        text-decoration: underline;
        font-style: normal;
        font-family: "Source Code Pro";
    }
}



@media (min-width: 1300px) {

    .download {
        padding: 0px 10px 6px 10px;
        font-size: 20px;
        margin-bottom: 30px;

        a {
            color: white;
            text-decoration: none;
            vertical-align: middle
        }
    }

    .avpost {
        .post-title {
            width: 100%;
            display: block;
            margin-bottom: 20px;
        }
        .col1, .col2 {
            margin-top: 20px;
        }
    	.col1 {
            width: 600px;
        }
        .col2 {
            width: 520px;
        }
        .videoplayer, video, .audioplayer, audio {
            width: 600px;
        }

        .audioplayer, .videoplayer {
            margin-top: 5px;
        }
    }

    .avblock {
        width: 550px;
    	padding-bottom: 20px;

        ul {
            border: 1px dashed $batcolor;  
            padding: 0;
        }

    	h3 {
    		font-size: 16px;
    	    padding: 0px;
    	}

    	li {
            &:hover button {
                color: $highlightPurple;
            }
            cursor: pointer;
            padding: 10px;
        }

        .descrip {
            font-style: italic;
        }
    }

    .avpost, .avblock {
       .descrip {
            cursor: auto;

            a:hover {
                color: $highlightBlue;
            }
            
            audio, video {
                margin: 20px 0px;
                width: 530px;
            }
        } 
    }

    .playlist button {
        padding: 0;

        transition-duration: 0.2s;
        transition-property: color;

        &:focus {
            outline: $highlightPurple dotted 1px;
        }
    }

    .permalink {
        margin-top: 10px;
    }

}
