.post-header {
	margin-bottom: 25px;
}

.post-title {
    display: inline;
    font-weight: normal;
	a {
    	color: $highlightBlue;
		&:hover {
			text-decoration: none;
		}
	}
}

.sidebar {
	margin-top: 90px;
}

ul.sidebar-extra {
	border-top: 1px solid $batcolor;
	list-style-type: none;
	padding-left: 0;

	a.external {
        background: url("/assets/icons/external-link.svg") no-repeat right;
        padding-left: 30px;
        background-position: left 2px top 5px;
	}

}

.blogpost {
	max-width: 600px;
	margin-top: 30px;
	margin-bottom: 40px;

	header {
		height: initial;
	}

	a.timestamp {
		font-family: "Source Code Pro";
	    display: inline;
	    font-weight: normal;
	    color: $batcolor;
		font-size: 25px;
	
	    &:before, &:after {
	        content: "";
	    }
	
		&:hover {
			color: $batcolor;
			text-decoration: underline;
		}
	}
	
	.arrow {
		font-size: 25px;
		color: $batcolor;
	}
}

.year {
    color: $highlightBlue;
    font-weight: normal;
    &:after {
        content: " <";
    }
    &:hover {
        cursor: pointer;
        text-decoration: underline;
    }
}

.months {
    display: none;
}

#pagination a {
	display: inline-block;
	color: $highlightBlue;
	padding: 0px 10px;
	&:hover {
		cursor: pointer;
		text-decoration: underline;
	}
}

code {
	font-family: "Source Code Pro", monospace;
	border-radius: 5px;
	border: 1px solid $batcolor;
	padding: 10px;
	display: block;
	margin-bottom: 15px;
	color: $highlightBlue;
	background: $batcolor + #444444;
}

