.post-header {
	margin-bottom: 25px;
}


.sidebar {
	margin-top: 10px;
}

.blogpost {
	max-width: 600px;
	margin-top: 30px;
	margin-bottom: 40px;

	header {
		height: initial;
	}

	h2.post-title {
	    display: inline;
	    font-weight: normal;

	    a {
	   	 	text-decoration: none;
	    	color: $defaultHighlight;

			&:hover {
				text-decoration: underline;
			}

			.timestamp {
				font-family: "Source Code Pro";
			    display: inline;
			    font-weight: normal;
			    color: black;
				font-size: 25px;
			
			    &:after {
			        content: " > ";
			    }
			}
		}

	}

}

.year {
    color: $highlightBlue;
    font-weight: normal;
    &:after {
        content: " <";
    }
    &:hover {
        cursor: pointer;
        text-decoration: underline;
    }
}

.months {
    display: none;
}

#pagination a {
	display: inline-block;
	color: $highlightBlue;
	padding: 0px 10px;
	&:hover {
		cursor: pointer;
		text-decoration: underline;
	}
}

code {
	font-family: "Source Code Pro", monospace;
	border-radius: 5px;
	border: 1px solid $batcolor;
	padding: 10px;
	display: block;
	margin-bottom: 15px;
	color: $highlightBlue;
	background: $batcolor + #444444;
}

