button:focus {
    outline: 1px dotted black;
}

header#main-header {
    background: white;
    border-bottom: 1px dashed $batcolor;
    width: 100%;
    padding: 30px 0px 30px 0px;

    #menubutton {
        border: none;
        background: url("/assets/icons/menu.svg") no-repeat;
        float: right;
        width: 40px;
        height: 40px;
        background-size: 40px;
        cursor: pointer;
    }

    .dropdown-button {
        border: none;
        background: none;
        float: right;
        position: relative;
        top: 25px;
    }

    nav {
        ul {
            list-style-type: none;
            padding: 0;
        }

        &.closed {
            display: none;
        }

        &.open {
            display: block;
        }
    }
    
    a {
        font-size: 35px;
        font-variant: small-caps;
        font-family: "Source Code Pro";
        font-weight: bold;
        color: $fg + #333;
        display: table;
        text-decoration: none;
    }

    a#logo {
        color: $fg + #333;
        text-decoration: none;
        font-size: 40px;
        display: inline;
    }

    .dropdown a {
        display: inline-block;
    }

    .nav-list {
        margin-top: 40px;
        margin-bottom: 20px;
    }

    .dropdown .nav-list {
        padding-left: 30px;
        margin: 0;
        margin-bottom: 6vw;

        ul {
            li {
                padding: 20px 0px;
                a {
                    color: black;
                    font-size: 18px;
                    font-variant: normal;
                    font-weight: normal;
                }
            }
        }


        &.closed {
            display: none;
        }
        &.open {
            display: block;
        }
    }
    
    .nav-list > a, .dropdown > a {
        padding: 20px 0px;
    }

    .nav-list > a.current, .dropdown > a.current {
        color: $menufg;
        margin: 15px 0px;
        border-bottom: 5px solid black;
        padding: 10px 0px 10px 0px;
    }
}


#backtotop {
    position: fixed;
    bottom: 0px;
    height: 40px;
    right: 0px;
    margin: 0px 20px;
    //background: rgba(255, 255, 255, 0.9);
    z-index: 2;
    margin-bottom: 40px;
}


@media (min-width: 900px) {

    .dropdown-button {
        display: none;
    }

    header#main-header {
        background: none;
        position: relative;
        margin: 50px 0px 50px 0px;
        padding: 0px;
        height: $header-height;
        line-height: 0;

        #menubutton {
            display: none;
            margin-bottom: 20px;
            margin-right: 20px;
            margin-left: 20px;
        }

        .dropdown-button img {
        }

        nav {
            display: inline-block;
            float: right;
            margin-left: 20px;

            .nav-list a:hover, .nav-list .dropdown a:hover {
                &#music-landing {
                    color: $musicHighlight;
                }

                &#geek-landing {
                    color: $geekHighlight;
                }

                &#blog-landing, &#contact-landing {
                    color: $defaultHighlight;
                }
            }

            &.closed {
                display: block;
            }

        }

        .nav-list {
            margin: 0;
        }

        .nav-list > a.current, .dropdown > a.current {
            background: white!important;
            border-bottom: none!important;
            padding: 0px 20px;
            padding-bottom: 10px;
            position: relative;
            margin: 0;
        }

        a {
            font-size: 30px;
            cursor: pointer;
            display: inline;

            &:hover {
                text-decoration: none;
            }
        }

        a {
            transition-duration: 0.3s;
            transition-property: all;
        }

        a#logo {
            font-size: 40px;
        
            &:hover {
                text-decoration: none;
            }
        
        }

        .dropdown > a, .nav-list > a {
            padding: 0px 20px;
        }
        
        .dropdown:hover > a, .nav-list a:hover {
            background: $menubg;
            padding-bottom: 10px;
        }
        
        .dropdown {
            display: inline-block;

            &:hover {
                .nav-list, .nav-list.open, .nav-list.closed {
                    display: block;
                }
            }

            a {
                display: inline;
            }



            .nav-list {
                transition-duration: 0.5s;
                transition-property: opacity;

                position: absolute;
                background: $menubg;
                margin-top: 23px;
                padding: 10px 0px;
                z-index: 100;
                line-height: 1.5em;

                ul li {
                    padding: 0;
                }

                a {
                    display: block;
                    font-size: 16px;
                    font-variant: normal;
                    font-weight: normal;
                    font-family: "Source Code Pro";
                    margin: 10px 0px;
                    padding: 8px 30px 12px 20px;
                    margin-right: 0px;
                    
                    &:hover {
                        text-decoration: underline;
                    }

                    &.external {
                        display: table;
                        background: url("/assets/icons/external-link.svg") no-repeat;
                        padding-right: 45px;
                        background-position: right 20px top 12px;
                    }

                    transition: none;

                } //end a

            } // end navlist

            
            #music-menu a:hover {
                color: $musicHighlight;
            }
            #geek-menu a:hover {
                color: $geekHighlight;
            }

            #music-menu a.current {
                color: white;
                background: $highlightPurple;
                &:hover {
                    color: white;
                }
            }

            #geek-menu a.current {
                color: white;
                background: $highlightGreen;
                &:hover {
                    color: white;
                }
            }


        } // end dropdown
        
        #breadcrumb {
            padding-left: 20px;
            padding-top: 15px;
            font-size: 13px; 
            color: $batcolor;
            clear: both;
        }
        
    } // end main-header

    #backtotop {
        display: none;
    }

}
