 header {
	text-transform: uppercase;

    position: relative;
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: $header-height;

    a {
        font-size: 20px;
        font-family: NotCourierSans, "Source Code Pro";
        margin-right: 10px;
        cursor: pointer;
        display: inline;

        &:before {
            content: "{";
        }
        &:after {
            content: "}";
        }

        &:visited {
            color: $fg;
        }
        &:hover {
			color: $fg;
            text-decoration: none;
        }

		&.current {
			text-decoration: underline;
		}

    }

}

a#logo {
    color: $fg;
    font-size: 30px;
    line-height: 0.6em;
    text-align: right;
    position: absolute;
    right: 0px;

    &:hover {
        text-decoration: none;
        color: $fg;
		background: none;
    }

}

nav a:hover, .current {
    background: rgba(255, 255, 255, 0.9);
    padding-bottom: 5px;
}

div.dropdown {
	display: inline-block;
}

.dropdown .nav-list {
	position: absolute;
    background: rgba(255, 255, 255, 0.9);
    padding: 10px 0px;
    margin-top: 5px;
    z-index: 100;

    a {
		display: block;
        font-size: 13px;
        font-family: NotCourierSans, "Source Code Pro";
        color: $fg;
        padding: 0px 10px;
        margin-right: 0px;
        
        &:visited {
            color: $batcolor;
        }

        &:hover {
            color: $highlight;
            text-decoration: underline;
        }

        &:before {
            content: "> ";
        }
        &:after {
            content: none;
        }
		
		&.current {
			text-decoration: underline;
		}
    }
}

#breadcrumb {
    font-size: 13px; 
    color: $batcolor;
}
