@media screen and (max-width: 960px) {
	body {
		font-size: 18px;
	}

	h1 {
		font-size: 25px;
		padding: 5px 0px;
	}

	.audioplayer, .videoplayer, audio, video {
        width: 100%!important;
    }


	.post-header {
		margin-top: 30px;
	}
	.avblock {
		margin-bottom: 35px;

		p.descrip {
			font-size: 16px;
			margin-left: 20px;
		}

		ul {
			margin-top: 25px;
		}

		li {
			margin-bottom: 20px;
		}

		h2 {
			font-size: 18px;
			.options {
				margin-top: 5px;
				margin-left: 10px;
				display: block;
				position: relative;
			}
		}
	}
	
	p.tooltip {
		display: none!important;
	}


	.post-content {
		margin-bottom: 30px;
	}

	header#main-header {
		height: 30px;

		#menubutton {
			display: block;
		}

		a#logo {
			font-size: 40px;
			line-height: 0.5em;
		}

		#breadcrumb {
			display: none;
		}

		nav {
			margin-top: 5px;
			margin-left: 0px;
			background-color: white!important;
			position: relative;
			width: 100%;
			margin-bottom: 30px;
			vertical-align: middle;
		}

		nav a, nav a:hover {
			padding: 25px 0px 25px 20px!important;
		}

		.dropdown > a, .dropdown > a:hover {
			background: url("/assets/icons/dropdown-open.svg") no-repeat scroll right 25px top 33px transparent!important;
		}

		nav a, .dropdown, .dropdown .nav-list, .dropdown .nav-list a {
			margin: 0px;
			display: block;
			position: relative;
			text-decoration: none!important;
        	&:after {
           		content: "";
       		}
        	&:before {
            	content: "";
        	}
		}

		.nav-list a {
			font-size: 35px;
		}

		.nav-list {
			padding: 10px 0px;
		}

		.dropdown .nav-list a {
			font-size: 25px;
			margin-left: 30px;
			padding: 15px!important;
			&:hover {
				padding: 15px;
			}
			&:before {
				content: "> ";
			}
			&.external {
				background: url("/assets/icons/external-link-larger.svg") no-repeat scroll right 25px top 20px transparent;
			}
		}

	}

    .sidebar {
		width: 100%;
		clear: both;

		li {
        	&:after {
        	    content: "";
        	}
       		&:before {
        	    content: "- ";
        	}
    	}
	}
	
    #bio p {
        width: 100% !important;
        left: 0px !important;
		margin-top: 5vw;
		max-width: 100%;
    }

    #bat {
        font-size: 20vw;
        padding-bottom: 15vw;
        padding-top: 12vw;
		clear: both;
    }


	.notification {
		text-align: left;
	}

	form {
		width: 100%;

		#antirobot {
			input {
				width: 80px!important;
			}
		}

		input, textarea {
			font-size: 16px;
			width: 90vw!important;

			&#submit {
				padding: 10px;
				float: none;
			}
		}


	}

    .sidebar {      
		margin-bottom: 40px;

        ul, .sidebar-extra {
            margin-left: 20px;
        }

        text-align: left;
        float: none;

        li a {
            &:after {
                content: none;
            }
        }

    }    

	.post-title {
		margin-top: 0px;
	}
    
    // UGH
    .textblock {
        width: 100% !important;
    }

    .textblock, .avblock {
        left: 0px !important;
    }

	footer {
		font-size: 18px;
		padding-top: 15px;
	}

}

@media screen and (max-width: 700px) {
    .sidebar {
        a {
            &:before {
                content: "";
            }
        }
    }

    .descrip {
        margin-left: 0px;
    }

    p.tooltiptext {
        display: none;
    }

    .nav-list a {
        margin: 0px;
        padding: 0px 5px;
    }


    blockquote {
        display: none;
    }

}


@media screen and (max-width: 600px) {

    #main-header li, #main-header li.dropdown, #main-header li#homelink a {
        font-size: 3.8vw !important;
        line-height: 1em;
    }

    #main-header li {
        margin-right: 3vw;
    }

    input[type="range"] {
        width: 58vw;
    }

    video {
        height: 50vw;
    }

}
