---
title: blog
layout: default
---

<h1 class="defaultpg pg-title">Blog</h1>

{% include blog-sidebar.html %}

<div class="blogpost col1">
    {% for post in paginator.posts %}

      <article class="blogpost">
          <header class="post-header">
            <h2 class="post-title">
              <a href="{{ post.url | prepend: site.baseurl }}"><span class="timestamp">{{ post.date | date: "%Y-%m-%d" }}</span>{{ post.title }}</a>
            </h2>
          </header>

          <div class="post-content">
            {{ post.content | split:'<!--break-->' | first | strip | append: "..."}}

            {% if post.content contains '<!--break-->' %} <a class='readmore' href="{{ post.url | prepend: site.baseurl }}">read entire post</a> 
            {% endif %}
          </div>
      </article>

  {% endfor %}


  <!-- Pagination links -->
  <div class="pagination">
    {% if paginator.previous_page %}
      <a href="{{ paginator.previous_page_path }}" class="previous">Previous</a>
    {% endif %}
    <span class="page_number ">Page {{ paginator.page }} of {{ paginator.total_pages }}</span>
    {% if paginator.next_page %}
      <a href="{{ paginator.next_page_path }}" class="next">Next</a>
    {% endif %}
  </div>

</div>

{% include back-to-top.html %}