---
layout: default
---
<a class="back" href="/music/audio">All audio</a>

<div class="avpost">
    <h1 class="avpg post-title clearfix">{{ page.title }}</h1>

    <div class="col1">
        <div class="audioplayer">
            <audio controls>
                <source src="{{page.src | prepend: "/assets/audio/"}}" type="audio/mpeg">
            </audio>
        </div>
    </div>

    <article class="col2 textblock">
        <p class="download">
            <a download href="{{page.src | prepend: "/assets/audio/"}}">download</a>
        </p>
        <p>{{ page.description }}</p>
    </article>

    <div class="clearfix"></div>

</div>
