---
layout: default
---

<div class="avpost">
    <h1 class="avpg post-title clearfix">{{ page.title }}</h1>

    <div class="col1">
        <div class="audioplayer">
            <audio controls>
                <source src="{{page.src | prepend: "/assets/audio/"}}" type="audio/mpeg">
            </audio>

            <p class="download">
                <a href="{{page.src | prepend: "/assets/audio/"}}">download</a>
            </p>
        </div>
    </div>

    <article class="col2 textblock">
        <p>{{ page.description }}</p>
    </article>

</div>
