---
layout: music-page
---
{% if page.isInPlaylist %}
<a class="back" href="{{ page.playlist | prepend: '/music/audio/' }}">Return to playlist</a>
{% else %}
<a class="back" href="/music/audio">All audio</a>
{% endif %}

<div class="avpost">
    <h1 class="avpg post-title clearfix">{{ page.title }}</h1>

    <div class="col1">
        <div class="audioplayer">
            <audio controls>
                <source src="{{ '/assets/audio/' | append: page.playlist | append: '/' | append: page.src }}" type="audio/mpeg">
            </audio>
        </div>
    </div>

    <article class="col2 textblock">
        <p>
            <a class="download" download href="{{'/assets/audio/' | append: page.playlist | append: '/' | append: page.src}}">download audio</a>
        </p>
        <p>{{ page.description }}</p>
    </article>

    <div class="clearfix"></div>

</div>
