---
layout: default
---
{% include blog-sidebar.html %}


<div class="blogpost">
    <header class="post-header">

      <a class="timestamp" href="{{ page.url | prepend: site.baseurl }}">{{ page.date | date: "%Y-%m-%d" }}</a>
          <span class="arrow">&gt;</span>
          <h1 class="post-title">
            <a href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>
          </h1>

    </header>
    
    <article class="post-content">
      {{ page.content | markdown }}
    </article>
</div>

{% include back-to-top.html %}
