---
layout: default
---
<a class="back" href="/music/video">All video</a>

<div class="avpost">
    <h1 class="avpg post-title">{{ page.title }}</h1>

    <div class="col1">

        <div class="videoplayer">
            <video controls>
                <source src="{{page.src | prepend: "/assets/video/"}}" type="video/mp4">
            </video>

            <p class="download">
            <a download href="{{page.src | prepend: "/assets/video/"}}">download</a>
            </p>
        </div>
    </div>

    <article class="col2 textblock">
        <p>{{ page.description }}</p>
    </article>

    <div class="clearfix"></div>
</div>
